/* --------------- header style5 --------------- */
.tc-header-style5 {
    padding-top: 30px;

    .header-slider5 {
        position: relative;
        overflow: hidden;

        .slider-card {
            // padding: 50px;
            // border-radius: 15px;
            // overflow: hidden;
        }

        .slider-controls{
            position: absolute;
            right: 20px;
            bottom: 20px;
            background-color: #fff;
            padding: 5px 50px;
            border-radius: 20px;
            display: inline-block;
            z-index: 20;
            .swiper-pagination{
               position: relative;
               bottom: 0;
               .swiper-pagination-bullet{
                  width: 7px;
                  height: 7px;
                  &.swiper-pagination-bullet-active{
                     background-color: #000;
                  }
               }
            }
            .swiper-button-next,
            .swiper-button-prev{
               // position: relative;
               &::after{
                  font-size: 14px;
                  color: #000;
               }
            }
        }

    }

    .tc-brands-style5 {
        margin-top: 10px;
        padding: 30px;
        background-color: #e9e7e8;
        border-radius: 10px;
        .img-brand {
            text-align: center;
            display: block;
            img {
                max-height: 80px;
            }
        }
    }

    .banner_img{
        border-radius: 10px;
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
        height: 310px;
        padding: 30px;
    }

}

@media screen and (max-width: 991px) {
    .tc-header-style5 {
        .tc-brands-style5 {
            .img-brand  {
                img {
                    max-height: 60px;
                    margin: 10px;
                }
            }
        }
        .header-slider5  {
            .slider-controls {
                right: 50%;
                transform: translateX(50%);
            }
        }
    }
}