#main-text {
  font-size: 5rem;
  text-align: center;

  span {
    font-size: 5rem;
    font-weight: bold;
    background: linear-gradient(to right, #097dff, #ffa8f7, #097dff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
  }

  span::-webkit-background-clip {
    color: transparent;
  }
}

.product-row {
  background-color: white;
  width: 100%;
  margin-top: 3rem;

  .header-product-row {
    font-size: 2rem;
    border-bottom: 1px solid #dee2e6;
    padding-top: 0.7rem;
    padding-bottom: 0.3rem;
    margin-bottom: 1.5rem;
    padding-left: 2rem;
  }

  .carousel {
    width: 100%;
    display: flex;
    justify-content: center;

    .carousel-indicators{
      margin-top: 0px;
      margin-bottom: 0.5rem;
      button{
        border: none;
      }
    }

    .carousel-inner {
      width: 90%;

      .carousel-item {
        left: 6px;
      }

      .row {
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        @media only screen and (max-width: 1024px) {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          row-gap: 10px;

          .col {
            position: relative;
            left: 3px;
          }
        }

        .col {
          padding-right: 6px;
          padding-left: 6px;
        }
      }

      @media only screen and (max-width: 480px) {
        width: 100%;

        .carousel-item {
          left: 9px;
        }

        .row {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          row-gap: 10px;

          .col {
            position: relative;
            left: 3px;
          }
        }
      }
    }

    .d-block {
      width: 5rem;
    }

    .carousel-control-prev,
    .carousel-control-next {
      width: 5%;

      @media only screen and (max-width: 480px) {
        width: 0%;
      }

    }

    .card {
      overflow: hidden;
      cursor: pointer;

      .card-img-top {
        transition: all 0.05s linear;
        position: relative;

        &:hover {
          transform: translateY(-10px) scale(1.1);
        }
      }

      .card-body {
        padding: 12px;

        .card-title {
          font-size: 1rem;
        }

        .card-text {
          font-size: 1.2rem;
        }

        .product-rating {
          display: flex;
          justify-content: flex-start;
          width: 100%;

          img {
            object-fit: none;
          }

          p {
            font-size: 0.7rem;
            width: fit-content;
            display: inline-block;
            margin-bottom: 0rem;
            margin-left: 0.3rem;
          }
        }

        h5 {
          color: rgb(91, 91, 91);
          transition: all 0.05s linear;

          &:hover {
            color: black;
          }
        }
      }
    }

    padding-bottom: 1rem;
  }
}