* {
    min-width: 0px;
}

// nav {
//     font-size: 2rem;
//     position: sticky !important;
//     top: 0px;
//     z-index: 1000;
//     a {
//         margin-right: 6rem;
//         color: black;
//         --bs-nav-link-hover-color: rgba(0, 0, 0, 0.644);
//     }

//     .nav-link {
//         color: black;
//     }

//     img {
//         height: 3.5rem
//     }

//     .navbar-nav {
//         margin-left: auto;
//         margin-right: auto;
//     }

//     margin-bottom: 6rem;
// }

body {
    background-image: url('../images/bg.png');
    // <uniquifier>: Use a uniquifier for the class name
    // <weight>: Use a value from 100 to 900

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.link2amazon{
    margin:15px;
}

.search-btn{
    background-color: transparent;
    border:none
  }