/* --------------- partners style2 --------------- */
.tc-partners-style2 {
    background-color: #ebe8e4;

    .logos-content {
        padding: 70px 0;
        border-top: 1px solid #999;
        display: flex;
        .logo {
            width: calc(100% / 7);
            text-align: center;
            height: 40px;
        }
    }

}

@media screen and (max-width: 991px) {
    .tc-partners-style2 {
        .logos-content {
            flex-wrap: wrap;
            justify-content: center;
            .logo {
                width: calc(100% /4 );
                padding: 5px;
                margin: 5px 0;
            }
        }
    }
}