/* --------------- testimonials style2 --------------- */
.tc-testimonials-style2 {
    position: relative;
    text-align: center;

    .content {
        position: relative;
        padding: 0 7vw;
        .swiper-button-next,
        .swiper-button-prev {
            top: 70px;
            &::after {
                font-size: 20px;
                color: #000;
            }
        }
    }

    .testimonial-slider {
        position: relative;
        overflow: hidden;
    }

    .testim-card {
        .text-comment {
            font-size: 32px;
            line-height: 1.4;
            margin-bottom: 60px;
        }
        .author-info {
            .au-img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                overflow: hidden;
                margin: auto;
            }
            .ver {
                padding: 5px 15px;
                border-radius: 8px;
                background-color: #02a767;
                color: #fff;
                font-size: 11px;
                margin-top: 10px;
            }
        }
    }

}

@media screen and (max-width: 991px) {
    .tc-testimonials-style2 {
        .testim-card .text-comment {
            font-size: 20px;
        }
        .swiper-button-next, .swiper-rtl .swiper-button-prev {
            right: 0;
        }
        .swiper-button-prev, .swiper-rtl .swiper-button-next {
            left: 0;
        }
    }
}