/* --------------- blog style2 --------------- */
.tc-blog-style2 {
    padding: 70px 0;
    background-color: #ebe8e4;

    .title {
        .arrows {
            span {
                width: 50px;
                height: 30px;
                line-height: 30px;
                background-color: #fff;
                border-radius: 6px;
                margin-inline-start: 5px;
                text-align: center;
                font-size: 18px;
                cursor: pointer;
                &:hover {
                    background-color: var(--color-darkGreen1);
                    color: #fff;
                }
            }
        }
    }

    .blog-slider {
        position: relative;
        overflow: hidden;
    }

}

@media screen and (max-width: 991px) {
    .tc-blog-style2 {

    }
}