/* --------------- explore style2 --------------- */
.tc-explore-style2 {
    
    .main-content {
        padding: 70px 0;
        border-top: 1px solid #999;
    }

    .explore-card {
        position: relative;
        border-radius: 15px;
        overflow: hidden;
        .img {
            position: relative;
            height: 400px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .info {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: flex-end;
            padding: 30px;
            color: #fff;
            z-index: 10;
            background-image: linear-gradient(to top, #0009, transparent);

            h2 {
                font-size: 40px;
                font-weight: 400;
            }

            p{
                font-size: 12px;
                margin-top: 25px;
            }

        }
    }

}

@media screen and (max-width: 991px) {
    .tc-explore-style2 {
        .explore-card {
            margin-bottom: 20px;
        }
    }
}