/* --------------- navbar style2 --------------- */
.tc-navbar-style2 {
    padding: 20px 4vw;

    .navbar-nav {
        .nav-link {
            text-transform: uppercase;
            margin: 0 10px;
            color: #000;
            font-weight: 500;
            font-size: 13px;
            &.active {
                color: #999;
            }
        }
    }

    .search-cat {
        border: 1px solid #999;
        overflow: hidden;
        position: relative;
        // margin-inline-start: 70px;
        border-radius: 10px;
        font-size: 13px;
        .search-btn {
            position: absolute;
            top: 2px;
            right: 2px;
            width: 40px;
            height: 40px;
            border-radius: 50% !important;
            line-height: 40px;
            text-align: center;
            background-color: transparent;
            // color: #000;
        }
        .form-select {
            background-color: transparent;
            border: 0;
            font-size: 13px;
            min-width: 60px;
        }
        .form-control {
            border: 0;
            font-size: 13px;
            min-height: 45px;
            flex-shrink: 0;
            width: 200px;
            max-width: 75%;
            &::placeholder {
                color: #999;
            }
        }
    }

    .icons{
        a{
            font-size: 20px;
            margin-inline-start: 15px;
            position: relative;
            .dot{
                position: absolute;
                width: 15px;
                height: 15px;
                background-color: #ebeef6;
                top: 0;
                right: -16px;
                border-radius: 50%;
                &::after{
                    position: absolute;
                    content: "";
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background-color: var(--color-darkGreen1);
                    border-radius: 50%;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50% , -50%);
                }
            }
            .num {
                position: absolute;
                width: 15px;
                height: 15px;
                line-height: 15px;
                text-align: center;
                border-radius: 50%;
                background-color: var(--color-darkGreen1);
                color: #fff;
                right: -6px;
                top: 0;
                font-size: 9px;
            }
        }
    }

    .lang-links {
        margin-inline-end: 15px;
        margin-inline-start: 30px;
        white-space: nowrap;
        .links-ul {
            display: flex;
            &>li{
                margin: 0 !important;
                padding: 0 10px;
                border-inline-end: 1px solid #9999;
                &:last-of-type{
                    padding-inline-end: 0;
                    border: 0;
                }
            }
        }
    }

}

@media screen and (max-width: 991px) {
    .tc-navbar-style2 {
        .lang-links {
            margin: 0 !important;
        }
        .search-cat {
            margin: 25px 0;
            width: 100%;
        }
    }
}