/* --------------- footer style3 --------------- */
.tc-recently-viewed-style3 {

    .products-slider {
        position: relative;
        overflow: hidden;

        .product-card {
            position: relative;
            padding: 10px;
            border: 1px solid transparent;
            border-radius: 10px;
            transition: all 0.3s ease;
            &:hover {
                border-color: #cccccc;
            }
            .top-inf {
                position: absolute;
                top: 0;
                left: 0;
                padding: 10px;
                width: 100%;
                z-index: 10;
                display: flex;
                justify-content: space-between;
                align-items: center;
                pointer-events: none;
                *{
                    pointer-events: all;
                }
                .fav-btn {
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    border-radius: 50%;
                    background-color: #e2e4eb;
                    color: #999;
                    margin-inline-start: auto;
                    margin-inline-end: 0;
                    &.active {
                        color: var(--color-green2);
                    }
                }
                .dis-card {
                    color: #fff;
                    background-color: var(--color-green2);
                    padding: 5px 10px;
                    border-radius: 7px;
                    display: inline-block;
                }
            }
            .img {
                height: 90px;
                overflow: hidden;
                display: block;
            }
            .info {
                .rating {
                    display: flex;
                    align-items: center;
                    font-size: 11px;
                    color: #666;
                    margin-bottom: 5px;
                    .stars {
                        display: flex;
                        margin-inline-end: 5px;
                        i {
                            color: #ffa500;
                        }
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 991px) {
    .tc-recently-viewed-style3 {

    }
}